<h1>Login</h1>

<br>

<div>
  <%= form_tag login_path do %>
  <div>
    <%= text_field_tag :username, nil, placeholder: "Username" %>    
  </div>
  <br>

  <div> 
    <%= password_field_tag :password, nil,  placeholder: "Password" %>    
  </div>
  <br>

  <%= submit_tag "Submit" %>
  <% end %>

<br>

<h3><%= link_to('Login via Facebook', '/auth/facebook') %></h3>

